/* page styling */
body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
}


/* navigation bar styling */

header{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
}

nav{
   display: inline-block;
   width: 100%;

}

.banner-image{
    width: 100%;
    display: inline-block;
    border: 1px black;
}





/* page greeting and info box styling */

.infobox-wrapper{
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    border: 1px solid black;
}

.infobox-wrapper .welcome-text{
    text-align: center;
}

/* location list/feed */

.location-box{
    display: inline-block;
    margin: 8px 15px;
    height: auto;
    background: rgb(238, 238, 238);
    box-shadow: 1.25px 2.5px #888888;
    padding-bottom: 10px;
}

/* comments style */

ul{
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    text-align: center;
}